<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Memory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://use.typekit.net/zfi2lfr.css">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="game-container">
            <div class="banner">
                <img src="BR-Memo-logo.png">
            </div>
            <div class="game-board">
                <transition-group name="shuffle" class="puzzle-items-container">
                    <span v-for="item in cards" :key="item.id" class="">
                        <transition name="fade">
                            <span v-if="!cardWasFound(item)" class="fade-item">
                                <transition name="flip" mode="out-in">
                                    <div @click="openCard(item)" class="front" v-if="openCards.includes(item)" key="front">
                                        <img style="width: 100px; height: 100px; border: 3px solid #004e9e" :src="item.imageUrl">
                                    </div>
                                    <div @click="openCard(item)" class="back" v-else key="back">
                                        <img style="width: 100px; height: 100px; border: 3px solid #004e9e" src="back.png">
                                    </div>
                                </transition>
                            </span>
                        </transition>
                    </span>
                </transition-group>
            </div>
            <div class="game-stats">
                <div class="game-current-player" v-if="state.type === 'select'">
                    <div class="color-primary text-size-h1">
                        {{getPlayerName(this.state.player)}}
                    </div>
                    <div>
                        ist an der Reihe
                    </div>
                </div>

                
                <div>
                    <div v-for="(p, index) in player" :key="index">
                        Spieler 
                        <span><editable :content="p.name" @update="p.name = $event"></editable></span>
                        <span>: {{p.points}} Punkte</span>
                    </div>
                </div>

                <div>
                    Zeit: <span class="timer">{{humanDuration}}</span>
                </div>
                <div v-if="state.type === 'end'">
                    <span v-if="state.kind === 'win'">
                        Spieler {{state.winner}} hat gewonnen
                    </span>
                    <span v-if="state.kind === 'tie'">
                        Gleichstand
                    </span>
                </div>

                <div>
                    <button class="btn" v-if="this.state.type=='beforeStart'" @click="startGame()">Spiel beginnen</button>
                    <button class="btn" v-else @click="stopGame()">Spiel beenden</button>
                </div>
            </div>
        </div>
    </div>
    <img class="corner-overlay" src="Spiele-deine-Stadt.png"/>
    <script src="main.js"></script>
    
</body>



</html>