@media only screen and (max-width: 1200px) {
    .game-container {
        flex-direction: column;
    }
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body:after {
    display: inline;
    visibility: hidden;
    content: "s";
    background-image: 
        url("card0.png")
        , url("card1.png")
        , url("card2.png")
        , url("card3.png")
        , url("card4.png")
        , url("card5.png")
        , url("card6.png")
        , url("card7.png");
    height: 1px;
    width: 1px;
}
body {
    background-image: url("./background.png");
    background-size: cover;
    display: flex;
    font-family: titillium-web;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #555555;
}

.corner-overlay {
    position: fixed;
    width: 50vw;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background: linear-gradient(178.34grad, rgba(200, 200, 200, 0) 0%, rgba(200, 200, 200, 0) 50%, rgb(200, 200, 200) 50%, rgb(200, 200, 200) 100%);
}

.banner {
    position: absolute;
    top: -80px;
    left: -60px;
}

.banner > img {
    width: 250px;
}

.game-container {
    background-color: #FFFFFFF2;
    display: flex;
    padding: 2rem;
    position: relative;
    border: 1px solid #707070;
}

.game-board {
    margin-right: 5rem;
    margin-left: 10rem;
}

.game-stats {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.color-primary {
    color: #50AE31;
}

.text-size-h1 {
    font-size: 2rem;
}

.btn {
    border-radius: 16px;
    background: #9B9B9B 0% 0% no-repeat padding-box;
    box-shadow: 0 0 0 1.5px #707070;
    border: none;
    color: #FFFFFF;
    padding: 0.3rem;
}

.timer {
    font-family: refrigerator-deluxe;
}

.puzzle-items-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (100px)[4];
        grid-template-columns: repeat(4, 100px);
    -ms-grid-rows: (100px)[4];
        grid-template-rows: repeat(4, 100px);
    grid-gap: 1em;
}

.puzzle-item {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    -ms-grid-row-align: stretch;
        align-self: stretch;
    background-color: #d8d8d8;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    border-radius: 7px;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.puzzle-item > .inner {
    text-align: center;
    width: 100%;
}

.shuffle-move {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.flip-enter-active, .flip-leave-active {
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    position: absolute;
}

.flip-enter-active {
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.flip-leave-active {
    -webkit-transition-timing-function: ease-in;
         -o-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
}

.flip-enter {
    -webkit-transform: perspective(1000px) rotateY(90deg);
            transform: perspective(1000px) rotateY(90deg);
}

.flip-enter-to {
    -webkit-transform: perspective(1000px) rotateY(0deg);
            transform: perspective(1000px) rotateY(0deg);
}

.flip-leave {
    -webkit-transform: perspective(1000px) rotateY(0deg);
            transform: perspective(1000px) rotateY(0deg);
}

.flip-leave-to {
    -webkit-transform: perspective(1000px) rotateY(-90deg);
            transform: perspective(1000px) rotateY(-90deg);
}

.fade-enter-active > div, .fade-leave-active > div {
    -webkit-transition: 5s all;
    -o-transition: 5s all;
    transition: 5s all;
}
.fade-enter > div, .fade-leave-to > div {
    -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
}